Package: grease
Version: 0.1.1
Section: interpreters
Priority: optional
Architecture: amd64
Depends: libc6
Maintainer: Nick Girga <nickgirga@gmail.com>
Description: Grease Scripting Language
 A modern scripting language written in pure Rust. Compiles to platform-agnostic bytecode.
 The high-performance oil for your Rust engine.
Installed-Size: 6196
