stages:
  - build

image: rust:latest

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

cache:
  paths:
    - .cargo/
    - target/

nightly:
  stage: build
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - cargo test
    - COMMIT_SHORT=$(git rev-parse --short HEAD)
    - BASE_VERSION="0.1.1"
    - NIGHTLY_VERSION="0.1.1-nightly-$COMMIT_SHORT"
    - sed -i "s/version = \"$BASE_VERSION\"/version = \"$NIGHTLY_VERSION\"/" Cargo.toml
    - sed -i "s/\"grease $BASE_VERSION\"/\"grease $NIGHTLY_VERSION\"/" docs/grease.1
    - sed -i "s/v$BASE_VERSION/v$NIGHTLY_VERSION/" docs/grease.1
    - cat Cargo.toml | grep version
    - cargo clean
    - cargo build --release
  artifacts:
    paths:
      - target/release/grease
    name: "grease-nightly-$CI_COMMIT_SHORT_SHA"

nightly-deb:
  stage: build
  only:
    - main
  script:
    - apt-get update -y
    - apt-get install -y dpkg-dev
    - rustc --version
    - cargo --version
    - cargo test
    - chmod +x build_tools/debian/build_deb.sh
    - ./build_tools/debian/build_deb.sh --nightly
  artifacts:
    paths:
      - "*.deb"
    name: "grease-nightly-deb-$CI_COMMIT_SHORT_SHA"

nightly-arch:
  stage: build
  image: archlinux:latest
  only:
    - main
  script:
    - pacman -Syu --noconfirm
    - pacman -S --noconfirm base-devel rust
    - rustc --version
    - cargo --version
    - cargo test
    - cp build_tools/archlinux/nightly/PKGBUILD .
    - makepkg -s --noconfirm
  artifacts:
    paths:
      - "*.pkg.tar.zst"
    name: "grease-nightly-arch-$CI_COMMIT_SHORT_SHA"

stable:
  stage: build
  only:
    - tags
  script:
    - rustc --version
    - cargo --version
    - cargo test
    - TAG_VERSION=${CI_COMMIT_TAG#v}  # Remove 'v' prefix if present
    - sed -i "s/version = \"0.1.1\"/version = \"$TAG_VERSION\"/" Cargo.toml
    - cat Cargo.toml | grep version
    - cargo clean
    - cargo build --release
  artifacts:
    paths:
      - target/release/grease
    name: "grease-$CI_COMMIT_TAG"