stages:
  - build

image: rust:latest

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

cache:
  paths:
    - .cargo/
    - target/

nightly:
  stage: build
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - cargo test
    - COMMIT_SHORT=$(git rev-parse --short HEAD)
    - sed -i "s/version = \"0.1.1\"/version = \"0.1.1-nightly-$COMMIT_SHORT\"/" Cargo.toml
    - cat Cargo.toml | grep version
    - cargo clean
    - cargo build --release
  artifacts:
    paths:
      - target/release/grease
    name: "grease-nightly-$CI_COMMIT_SHORT_SHA"

stable:
  stage: build
  only:
    - tags
  script:
    - rustc --version
    - cargo --version
    - cargo test
    - TAG_VERSION=${CI_COMMIT_TAG#v}  # Remove 'v' prefix if present
    - sed -i "s/version = \"0.1.1\"/version = \"$TAG_VERSION\"/" Cargo.toml
    - cat Cargo.toml | grep version
    - cargo clean
    - cargo build --release
  artifacts:
    paths:
      - target/release/grease
    name: "grease-$CI_COMMIT_TAG"