stages:
  - build

image: rust:1.91.1

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

cache:
  paths:
    - .cargo/
    - target/

nightly:
  stage: build
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - cargo test
    - COMMIT_SHORT=$(git rev-parse --short HEAD)
    - BASE_VERSION="0.1.1"
    - NIGHTLY_VERSION="0.1.1-nightly-$COMMIT_SHORT"
    - sed -i "s/version = \"$BASE_VERSION\"/version = \"$NIGHTLY_VERSION\"/" Cargo.toml
    - sed -i "s/\"grease $BASE_VERSION\"/\"grease $NIGHTLY_VERSION\"/" docs/grease.1
    - sed -i "s/v$BASE_VERSION/v$NIGHTLY_VERSION/" docs/grease.1
    - cat Cargo.toml | grep version
    - cargo clean
    - cargo build --release
  artifacts:
    paths:
      - target/release/grease
    name: "grease-nightly-$CI_COMMIT_SHORT_SHA"

nightly-deb:
  stage: build
  only:
    - main
  script:
    - apt-get update -y
    - apt-get install -y dpkg-dev
    - rustc --version
    - cargo --version
    - cargo test
    - chmod +x build_tools/debian/build_deb.sh
    - ./build_tools/debian/build_deb.sh --nightly
  artifacts:
    paths:
      - "*.deb"
    name: "grease-nightly-deb-$CI_COMMIT_SHORT_SHA"

nightly-arch:
  stage: build
  image: archlinux:base-20251019.0.436919
  only:
    - main
  script:
    - |
      pacman -Syu --noconfirm
      pacman -S --noconfirm base-devel rust sudo
      rustc --version
      cargo --version
      cargo test
      useradd -m -G wheel builder
      echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
      cp build_tools/arch/nightly/PKGBUILD .
      chown -R builder:builder .
      sudo -u builder makepkg -s --noconfirm
  artifacts:
    paths:
      - "*.pkg.tar.zst"
    name: "grease-nightly-arch-$CI_COMMIT_SHORT_SHA"

nightly-rpm:
  stage: build
  image: fedora:43
  only:
    - main
  script:
    - dnf update -y
    - dnf install -y rpm-build rust cargo gcc
    - rustc --version
    - cargo --version
    - cargo test
    - chmod +x build_tools/rpm/build_rpm.sh
    - ./build_tools/rpm/build_rpm.sh --nightly
  artifacts:
    paths:
      - "rpmbuild/RPMS/**/*.rpm"
    name: "grease-nightly-rpm-$CI_COMMIT_SHORT_SHA"



# Cross-compilation jobs for different architectures
nightly-arm64:
  stage: build
  image: rust:latest
  services:
    - docker:28.5.1-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    CROSS_DOCKER_IMAGE: ghcr.io/cross-rs/aarch64-unknown-linux-gnu:v0.2.5
    CROSS_REMOTE: "1"
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - apt-get update -y && apt-get install -y docker.io
    - docker info
    - cargo install cross --version 0.2.5
    - export PATH="$CARGO_HOME/bin:$PATH"
    - cross test --target aarch64-unknown-linux-gnu
    - cross build --release --target aarch64-unknown-linux-gnu
  artifacts:
    paths:
      - target/aarch64-unknown-linux-gnu/release/grease
    name: "grease-nightly-arm64-$CI_COMMIT_SHORT_SHA"

 

nightly-arm32:
  stage: build
  image: rust:latest
  services:
    - docker:28.5.1-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    CROSS_DOCKER_IMAGE: ghcr.io/cross-rs/armv7-unknown-linux-gnueabihf:v0.2.5
    CROSS_REMOTE: "1"
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - apt-get update -y && apt-get install -y docker.io
    - docker info
    - cargo install cross --version 0.2.5
    - export PATH="$CARGO_HOME/bin:$PATH"
    - cross test --target armv7-unknown-linux-gnueabihf
    - cross build --release --target armv7-unknown-linux-gnueabihf
  artifacts:
    paths:
      - target/armv7-unknown-linux-gnueabihf/release/grease
    name: "grease-nightly-arm32-$CI_COMMIT_SHORT_SHA"

 

nightly-i686:
  stage: build
  image: rust:latest
  services:
    - docker:28.5.1-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    CROSS_DOCKER_IMAGE: ghcr.io/cross-rs/i686-unknown-linux-gnu:v0.2.5
    CROSS_REMOTE: "1"
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - apt-get update -y && apt-get install -y docker.io
    - docker info
    - cargo install cross --version 0.2.5
    - export PATH="$CARGO_HOME/bin:$PATH"
    - cross test --target i686-unknown-linux-gnu
    - cross build --release --target i686-unknown-linux-gnu
  artifacts:
    paths:
      - target/i686-unknown-linux-gnu/release/grease
    name: "grease-nightly-i686-$CI_COMMIT_SHORT_SHA"

 

nightly-riscv64:
  stage: build
  image: rust:latest
  services:
    - docker:28.5.1-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    CROSS_DOCKER_IMAGE: ghcr.io/cross-rs/riscv64gc-unknown-linux-gnu:v0.2.5
    CROSS_REMOTE: "1"
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - apt-get update -y && apt-get install -y docker.io
    - docker info
    - cargo install cross --version 0.2.5
    - export PATH="$CARGO_HOME/bin:$PATH"
    - cross test --target riscv64gc-unknown-linux-gnu
    - cross build --release --target riscv64gc-unknown-linux-gnu
  artifacts:
    paths:
      - target/riscv64gc-unknown-linux-gnu/release/grease
    name: "grease-nightly-riscv64-$CI_COMMIT_SHORT_SHA"

 
 
nightly-windows-x64:
   stage: build
   image: rust:latest
   services:
     - docker:28.5.1-dind
   variables:
     DOCKER_TLS_CERTDIR: "/certs"
     DOCKER_DRIVER: overlay2
     DOCKER_HOST: tcp://docker:2376
     DOCKER_TLS_VERIFY: 1
     DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
     CROSS_DOCKER_IMAGE: ghcr.io/cross-rs/x86_64-pc-windows-msvc:v0.2.5
     CROSS_REMOTE: "1"
   only:
     - main
   script:
     - rustc --version
     - cargo --version
     - dpkg --add-architecture i386
     - apt-get update -y && apt-get install -y docker.io wine wine32:i386
     - docker info
     - wine --version
     - cargo install cross --version 0.2.5
     - export PATH="$CARGO_HOME/bin:$PATH"
     - chmod +x build_tools/windows/build_windows.sh
     - ./build_tools/windows/build_windows.sh --arch x64 --nightly
   artifacts:
     paths:
       - target/x86_64-pc-windows-msvc/release/grease.exe
     name: "grease-nightly-windows-x64-$CI_COMMIT_SHORT_SHA"

 
 
nightly-windows-x86:
   stage: build
   image: rust:latest
   services:
     - docker:28.5.1-dind
   variables:
     DOCKER_TLS_CERTDIR: "/certs"
     DOCKER_DRIVER: overlay2
     DOCKER_HOST: tcp://docker:2376
     DOCKER_TLS_VERIFY: 1
     DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
     CROSS_DOCKER_IMAGE: ghcr.io/cross-rs/i686-pc-windows-msvc:v0.2.5
     CROSS_REMOTE: "1"
   only:
     - main
   script:
     - rustc --version
     - cargo --version
     - dpkg --add-architecture i386
     - apt-get update -y && apt-get install -y docker.io wine wine32:i386
     - docker info
     - wine --version
     - cargo install cross --version 0.2.5
     - export PATH="$CARGO_HOME/bin:$PATH"
     - chmod +x build_tools/windows/build_windows.sh
     - ./build_tools/windows/build_windows.sh --arch x86 --nightly
   artifacts:
     paths:
       - target/i686-pc-windows-msvc/release/grease.exe
     name: "grease-nightly-windows-x86-$CI_COMMIT_SHORT_SHA"
