stages:
  - build

image: rust:1.91.1

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

cache:
  paths:
    - .cargo/
    - target/

nightly:
  stage: build
  only:
    - main
  script:
    - rustc --version
    - cargo --version
    - cargo test
    - COMMIT_SHORT=$(git rev-parse --short HEAD)
    - BASE_VERSION="0.1.1"
    - NIGHTLY_VERSION="0.1.1-nightly-$COMMIT_SHORT"
    - sed -i "s/version = \"$BASE_VERSION\"/version = \"$NIGHTLY_VERSION\"/" Cargo.toml
    - sed -i "s/\"grease $BASE_VERSION\"/\"grease $NIGHTLY_VERSION\"/" docs/grease.1
    - sed -i "s/v$BASE_VERSION/v$NIGHTLY_VERSION/" docs/grease.1
    - cat Cargo.toml | grep version
    - cargo clean
    - cargo build --release
  artifacts:
    paths:
      - target/release/grease
    name: "grease-nightly-$CI_COMMIT_SHORT_SHA"

nightly-deb:
  stage: build
  only:
    - main
  script:
    - apt-get update -y
    - apt-get install -y dpkg-dev libgtk-3-dev libwebkit2gtk-4.1-dev libsoup-3.0-dev libxdo-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev libgl1-mesa-dev libglu1-mesa-dev build-essential pkg-config
    - rustc --version
    - cargo --version
    - cargo test
    - chmod +x build_tools/debian/build_deb.sh
    - ./build_tools/debian/build_deb.sh --nightly
  artifacts:
    paths:
      - "*.deb"
    name: "grease-nightly-deb-$CI_COMMIT_SHORT_SHA"

nightly-arch:
  stage: build
  image: archlinux:base-20251019.0.436919
  only:
    - main
  script:
    - |
      pacman -Syu --noconfirm
      pacman -S --noconfirm base-devel rust sudo gtk3 webkit2gtk libsoup libxdo xcb-util libxkbcommon openssl mesa glu base-devel pkgconf
      rustc --version
      cargo --version
      cargo test
      useradd -m -G wheel builder
      echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
      cp build_tools/arch/nightly/PKGBUILD .
      chown -R builder:builder .
      sudo -u builder makepkg -s --noconfirm
  artifacts:
    paths:
      - "*.pkg.tar.zst"
    name: "grease-nightly-arch-$CI_COMMIT_SHORT_SHA"

nightly-rpm:
  stage: build
  image: fedora:43
  only:
    - main
  script:
    - dnf update -y
    - dnf install -y rpm-build rust cargo gcc gtk3-devel webkit2gtk4.0-devel libsoup-devel libXdo-devel xcb-util-devel libxkbcommon-devel openssl-devel mesa-libGL-devel mesa-libGLU-devel pkgconfig
    - rustc --version
    - cargo --version
    - cargo test
    - chmod +x build_tools/rpm/build_rpm.sh
    - ./build_tools/rpm/build_rpm.sh --nightly
  artifacts:
    paths:
      - "rpmbuild/RPMS/**/*.rpm"
    name: "grease-nightly-rpm-$CI_COMMIT_SHORT_SHA"




